<main class="container">
    
    <div class="page-header px-3 py-3 mx-auto text-center"> 
       <h1 class="display-4">  Angular Bootcamp-2021 </h1> 
   
    <p class="lead">
        In this learning Camp2021, we will able to learn about Angular JS. Hopefully this will helpful for us.
    </p>
</div>

<div class="card-deck">
    
    <div class="card shadow-sm mb-4">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">HtML/CSS </h4>
        </div>
        <div class="card-body">
                <h1 class="card-title"> 1 <small>/WEEK</small></h1>
                <p>Some text is going to place here . </p>
        </div>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">JAVAScript/CSS </h4>
        </div>
        <div class="card-body">
                <h1 class="card-title"> 2 <small>/WEEK</small></h1>
                <p>Some text is going to place here . </p>
        </div>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Angular </h4>
        </div>
        <div class="card-body">
                <h1 class="card-title"> 3 <small>/WEEK</small></h1>
                <p>Some text is going to place here . </p>
        </div>
    </div>


</div>



</main>
